<a href="https://colab.research.google.com/github/CoconutGithub/MJ_assignment/blob/main/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

**Variable**

In [ ]:
i=1
f=2.22
c='c'
s="string"
b=True
print(i)
print(s)

**Input**

In [ ]:
i=input()
s=input()
print(i)
print(s)

**Variable type**

In [ ]:
i=input()
x=int (i)
print(x+1)
s=str (x)
print(s)

**If 조건문**

In [ ]:
i=int(input())
if(i<10):
  print("low")
else:
  print("hi")

**For loop**

In [ ]:
#for 변수 in range(시작값, 끝값 +1, 증가값)
for i in range(1,6,1) :
  print(i)

**1부터 10까지 짝수의 합**

In [ ]:
sum=0
num = int(input())
for i in range (1,num+1,1):
  if((i%2)==0):
    sum = sum + i
    print(i)
print(sum)
#짝수들의 합과 짝수들 출력

**Function**

In [ ]:
def func(x,y):
  plus = x+y
  minus = x-y
  return plus, minus
a, b = func(10,20)
print(a)
print(b)

**함수를 이용해서 입력값에 따라 성적 매기기**

In [ ]:
def func(n):
  if(n>90):
    return "A"
  elif(n>80):
    return "B"
  elif(n>70):
    return "C"
  else:
    return "F"
i =int(input())
print(func(i))

**String**

In [ ]:
s="abcdefg"
s[-1] #맨끝
print(s[-1])
s[1:4] #1~4 직전까지 - 1~3까지
print(s[1:4])
s[3:] #3부터 끝까지
print(s[3:])
s[:2] #처음부터 2직전까지
print(s[:2])
len(s) #길이
s1 = s + "xyz"
print(s1)

g
bcd
defg
ab
abcdefgxyz

**문자열 함수들**

In [ ]:
s = "어떤 별에 사는 꽃을 좋아한다면 밤에 하늘을 쳐다보는게 즐거울 거야 어느 별이나 다 꽃이 필테니까"
print(s.count("별")) #몇 번 나오는지
print(s.find("별")) #단어가 나오는 위치
print(s.rfind("별")) #리버스, 반대부터 나오는 위치
print(s.index("별")) #find 와 같음
print(s.split()) #문자열을 빈칸이나 문자로 토막

s = "aa,bb,cc,dd"
print(s.split(',')) #쉼표를 기준으로 나눔

2
3
41
3
['어떤', '별에', '사는', '꽃을', '좋아한다면', '밤에', '하늘을', '쳐다보는게', '즐거울', '거야', '어느', '별이나', '다', '꽃이', '필테니까']
['aa', 'bb', 'cc', 'dd']

**speed측정(실제로 구현)**

In [ ]:
import time
t =0

start = time.time()#시작 할 때의 시간

for i in range(0,1000000) :
  t = t+1

end = time.time()#끝날때의 시간
print(end-start)
#결과가 컴퓨터마다, 실행할때마다 달라짐

**빅오 표기법**

# array

In [ ]:
a = [1,3,5,7,9]
a.append("hi")
a[2:4]

[5, 7]

In [ ]:
A = []
A.append(0)
A.append(1)
A.append(2)
A.append(3)
A.append(4)
A[:2]

[0, 1]

In [ ]:
s = ["에스파","아이브","뉴진스","잇지"]
s[-1]
s.append("트와이스")
s[1] = "유진"
del s[1]
s

['에스파', '뉴진스', '잇지', '트와이스']

In [ ]:
a = [99,3,22,0]
a.append(88)
a.pop()
a.sort()
a.reverse()
a.index(22)#찾는 값
a.insert(1,14)#위치, 넣을 값
a.remove(0)#삭제할 값
a.count(99)#찾는 값
a.clear()
a.len()
a.copy()

1

**O(n)을 만족하는 api만들기**+에러처리

In [ ]:
A = [0,1,2,3,4]

def Myappend(a):
  A.append(a)

def Mypop():
  t = A[len(A)-1]
  del (A[len(A)-1])
  return t

print(Mypop())

4

In [ ]:
A = [0,1,2,3,4]

def Myindex(a):
  for i in range(0,len(A),1):
    if(A[i]==a):
      return i

print(Myindex(3))

3

In [ ]:
A = [0,1,2,3,4]

def Myinsert(a,b):
  A.append(None)
  for i in range(len(A)-1,a,-1):
    A[i] = A[i-1]
  A[a] = b
  return A
print(Myinsert(3,5))

[0, 1, 2, 5, 3, 4]

In [ ]:
A = [0,1,2,3,4]

def Myremove(a):
  for i in range(0,len(A),1):
    if(A[i]==a):
      break
  for j in range(i,len(A)-1,1):
    A[j] = A[j+1]
  del A[len(A)-1]
  return A

print(Myremove(2))

[0, 1, 3, 4]

+Mycount,Mylen,Myswap,Myreverse

In [ ]:
A = [0,1,2,3,4]

def Mylen():

  for i in range (0,len(A),1):
    if(A[i] == A[len(A)-1]):
      return i+1

print(Mylen())

5

In [ ]:
A = [0,1,2,3,4]

def Mycount(a):
  count = 0
  for i in range(0,len(A),1):
    if(A[i]==a):
      count += 1
  return count

print(Mycount(3))

1

In [ ]:
A = [0,1,2,3,4]

def Myswap(a,b):
  for i in range(0,len(A),1):
    if(A[i]==a):
      indexA = i
    if(A[i]==b):
      indexB = i
  A[indexA] = b
  A[indexB] = a
  return A

print(Myswap(1,3))

[0, 3, 2, 1, 4]

4개의 정수를 입력받아 list 저장하고, 평균을 출력하는 프로그램을 for loop와 array를 사용하여 작성 [O(n)]안에서
+ 최대 최소까지

In [ ]:
a = []

for i in range (0,4,1):
  a.append(int(input("입력받기 : ")))

sum = 0
for i in range (0,len(a),1):
  sum += a[i]

print(sum/len(a))#평균

max = a[0]
min = a[0]
for i in range (0,len(a),1):
  if(max < a[i]):
    max = a[i]
  if(min > a[i]):
    min = a[i]

print(max)#최대
print(min)#최소
print(max+min)#최대+최소

입력받기 : 5
입력받기 : 9
입력받기 : 3
입력받기 : 2
4.75
9
2
11

**2차원 배열**

In [ ]:
import numpy as np
a = [1,2,3,4,5,6]

a = np.reshape(a,(3,2))
for i in range(0,3):
  print(' ')
  for j in range(0,2):
    print(a[i][j],end=' ')

1 2
3 4
5 6

3x3 배열로 입력받고 최댓값 출력, 총합과 평균도 출력

In [ ]:
import numpy as np
a=[]
sum=0

for i in range(0,3):
  for j in range(0,3):
    a.append(int(input("입력 : ")))

a=np.reshape(a,(3,3))
max=0
min=0
for i in range(0,3):
  for j in range(0,3):
    if(max<a[i][j]):
      max=a[i][j]
    if(min>a[i][j]):
      min=a[i][j]

print(max)

for i in range(0,3):
  for j in range(0,3):
    sum += a[i][j]

print(sum)
print(sum/9)

입력 : 1
입력 : 2
입력 : 3
입력 : 4
입력 : 5
입력 : 6
입력 : 7
입력 : 8
입력 : 9
9
45
5.0

In [ ]:
a=[8,17,5,18,5,9,1,2,5,4]

def 짝수():
  짝수 =0
  for i in range(0,len(a),1):
    if(a[i]%2==0):
      짝수 +=1
  return 짝수

def 중복():
  for i in range(0,len(a),1):
    for j in range(0,len(a),1):
      if(a[i]==a[j]):
        return 'Y'
  return 'N'

def MaxMin():
  max=a[0]
  min=a[0]
  for i in range(0,len(a),1):
    if(a[i]>max):
      max=a[i]
    if(a[i]<min):
      min=a[i]
  return max-min

print(짝수())
print(중복())
print(MaxMin())

4
Y
17

In [ ]:
import numpy as np
rows, cols = (3,3)
a=[]
for i in range(0,rows):
  for j in range(0,cols):
    a.append(int(input("입력값 : ")))

a = np.reshape(a,(rows,cols))
for i in range(0,rows):
  print(" ")
  for j in range(0,cols):
    print(a[i][j],end=' ')

입력값 : 5
입력값 : 9
입력값 : 3
입력값 : 2
입력값 : 6
입력값 : 6
입력값 : 3
입력값 : 8
입력값 : 9

5 9 3
2 6 6
3 8 9

In [ ]:
import numpy as np
rows,cols=(3,3)
a= [[0 for i in range(cols)]for j in range(rows)]
for i in range(0,rows):
  for j in range(0,cols):
    a[i][j]=(int(input("입력값 : ")))
for i in range(0,rows):
  print(" ")
  for j in range(0,cols):
    print(a[i][j],end=' ')

입력값 : 5
입력값 : 9
입력값 : 3
입력값 : 2
입력값 : 6
입력값 : 6
입력값 : 3
입력값 : 8
입력값 : 9

5 9 3
2 6 6
3 8 9

In [ ]:
import numpy as np
rows,cols=(5,5)
a=[]
k=0
for i in range(0,rows):
  for j in range(0,cols):
    a.append(k)
    k+=1

a= np.reshape(a,(rows,cols))

for i in range(0,rows):
  print(" ")
  for j in range(0,cols):
    print(a[i][j],end=' ')

print("\n--------------")

for i in range(0,rows):#짝수행 출력
  if(i%2!=0):
    print(" ")
    for j in range(0,cols):
      print(a[i][j],end=' ')
  else:
    continue

print("\n--------------")

for i in range(0,rows):# 홀수행 출력
  print(" ")
  for j in range(0,cols):
    if(j%2==0):
      print(a[i][j],end=' ')
    else:
      continue

print("\n--------------")

sumcols=0#행들의 합
sum=[]
for i in range(0,rows):
  for j in range(0,cols):
    sumcols += a[i][j]
  print(sumcols,end=' ')
  sumcols =0

0 1 2 3 4
5 6 7 8 9
10 11 12 13 14
15 16 17 18 19
20 21 22 23 24
--------------

5 6 7 8 9
15 16 17 18 19
--------------

0 2 4
5 7 9
10 12 14
15 17 19
20 22 24
--------------
10 35 60 85 110

**달팽이 배열**

In [ ]:
import numpy as np

row,cols=(5,5)
a= [[0 for i in range(cols)]for j in range(rows)]
k=0
i=0
j=0


#->
for j in range(0,cols):
  a[i][j]=k
i += 1
j -= 1
#아래
for i in range(i,rows):
  a[i][j]=k
i -= 1
j -= 1
#<-
for j in range(j,0,-1):
  a[i][j]=k
#위
for i in range(rows,0,-1):
  a[i][j]=k

**대각선 출력**

In [ ]:
import numpy as np
rows,cols=(5,5)
a=[]
k=1
for i in range(0,rows):
  for j in range(0,cols):
    a.append(k)
    k+=1
a= np.reshape(a,(rows,cols))

i=0
j=0
n=0
for n in range(n,rows,1):
  j=n
  for i in range(0,rows,1):
    if(j>=0):
      print(a[i][j])
    else:
      break
    j -= 1

for i in range(1,rows,1):
  for j in range(4,0,-1):
    if(i<rows):
      print(a[i][j])
    else:
      break
    i+=1

1
2
6
3
7
11
4
8
12
16
5
9
13
17
21
10
14
18
22
15
19
23
20
24
25

# linked list

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.link = None

def delete(a):
  current = head
  for i in range(0,a-1):
    current = current.link

  current.link = current.link.link

def insert(a,b):
  n = Node()
  n.data = b

  current = head
  for i in range (0,a-1):
    current = current.link

  n.link = current.link
  current.link=n

n0=Node()
n0.data="에스파"

n1=Node()
n1.data="아이브"

n2=Node()
n2.data="뉴진스"

n3=Node()
n3.data="잇지"

n0.link = n1
n1.link = n2
n2.link = n3

head = n0

insert(1,"블랙핑크")
delete(3)

current = n0
while current.link != None:
  print(current.data)
  current = current.link
print(current.data)

에스파
블랙핑크
아이브
잇지

**더블 링크드 리스트**

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.left = None
    self.right = None


def delete(a):
  current = head
  for i in range(0,a-1):
    current = current.link

  current.link = current.link.link

def insert(a,b):
  n = Node()
  n.data = b

  current = head
  for i in range (0,a-1):
    current = current.link

  n.link = current.link
  current.link=n

n0=Node()
n0.data="에스파"

n1=Node()
n1.data="아이브"

n2=Node()
n2.data="뉴진스"

n3=Node()
n3.data="잇지"

n0.right = n1
n1.right = n2
n2.right = n3
n3.left = n2
n2.left = n1
n1.left = n0

head = n0
tail = n3

current = n0
while current.link != None:
  print(current.data)
  current = current.link
print(current.data)

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.link = None

n0=Node()
n0.data="A"

n1=Node()
n1.data="B"

n2=Node()
n2.data="C"

n3=Node()
n3.data="D"

n0.link = n1
n1.link = n2
n2.link = n3

head = n0

def reverse_print(n):
  current = n
  if(current.link==None):
    print(current.data)
    return
  reverse_print(current.link)
  print(current.data)

reverse_print(n0)

잇지
뉴진스
아이브
에스파

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.link = None

n0=Node()
n0.data="1"

n1=Node()
n1.data="7"

n2=Node()
n2.data="9"

n3=Node()
n3.data="3"

n0.link = n1
n1.link = n2
n2.link = n3

head = n0

#최대 최소 구하기
def min_max(n):
  min=0
  max =0
  current= n
  while current.link!=None:
    if()

**중복 삭제**

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.link = None

def delete(a):
  current = head
  for i in range(0,a-1):
    current = current.link

  current.link = current.link.link

n0=Node()
n0.data="1"
n1=Node()
n1.data="1"
n2=Node()
n2.data="2"
n3=Node()
n3.data="2"
n4=Node()
n4.data="3"
n5=Node()
n5.data="3"

n0.link = n1
n1.link = n2
n2.link = n3
n3.link = n4
n4.link = n5

head = n0

temp=n0
for t in range(0,5,1):
  current=temp
  n=current.data
  temp=temp.link
  for j in range(0,current.link!=None,1):
    i=current.link
    if(current.data==i):
      delete(j)
    current.link = current.link.link


current = n0
while current.link != None:
  print(current.data)
  current = current.link
print(current.data)

1
2
3

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.link = None

#숫자 a가 몇개 있는지
def count(a):
  count=0
  current=head
  while current.link != None:
    if(current.data==a):
      count+=1
    current=current.link
    return count

#N번째 원소 찾기
def getNth(n,a):
  current = head
  for i in range(0,a-1):
    current = current.link

  return current.data


def delete(a):
  current = head
  for i in range(0,a-1):
    current = current.link

  current.link = current.link.link

def insert(a,b):
  n = Node()
  n.data = b

  current = head
  for i in range (0,a-1):
    current = current.link

  n.link = current.link
  current.link=n

n0=Node()
n0.data="1"

n1=Node()
n1.data="3"

n2=Node()
n2.data="3"

n3=Node()
n3.data="7"

n0.link = n1
n1.link = n2
n2.link = n3

head = n0

print(count(n0,3))

0

**서큘러 더블링크드 리스트**

In [ ]:
class Node():
  def __init__(self):
    self.data = None
    self.left = None
    self.right = None


def delete(a):
  current = head
  for i in range(0,a-1):
    current = current.link

  current.link = current.link.link

def insert(a,b):
  n = Node()
  n.data = b

  current = head
  for i in range (0,a-1):
    current = current.link

  n.link = current.link
  current.link=n

n0=Node()
n0.data="3"

n1=Node()
n1.data="7"

n2=Node()
n2.data="9"

n3=Node()
n3.data="5"

n4=Node()
n4.data="1"

n0.right = n1
n1.right = n2
n2.right = n3
n3.rihgt = n4
n4.right = n0
n4.left = n3
n3.left = n2
n2.left = n1
n1.left = n0
n0.left = n4


head = n0
tail = n4

In [ ]:
#중복 찾기
class Node():
  def __init__(self):
    self.data = None
    self.link = None

def delete(a):
  current = head
  for i in range(0,a-1):
    current = current.link

  current.link = current.link.link

n0=Node()
n0.data="3"
n1=Node()
n1.data="1"
n2=Node()
n2.data="3"
n3=Node()
n3.data="2"
n4=Node()
n4.data="5"

n0.link = n1
n1.link = n2
n2.link = n3
n3.link = n4

head = n0

temp1=head
temp2=temp1.link

answer =0
while temp1.link != None:
  while temp2.link != None:
    if(temp1.data==temp2.data):
      answer = 1
      break
    temp2=temp2.link
  temp1=temp1.link

if(answer==0):
  print("no")
else:
  print("yes")

yes

In [ ]:
#두 리스트 합치기
class Node():
  def __init__(self):
    self.data = None
    self.link = None

n0=Node()
n0.data=3
n1=Node()
n1.data=5
n2=Node()
n2.data=10
n3=Node()
n3.data=21

n0.link = n1
n1.link = n2
n2.link = n3

list1 = n0

n4=Node()
n4.data=4
n5=Node()
n5.data=6
n6=Node()
n6.data=15
n7=Node()
n7.data=26
n8=Node()
n8.data=33

n4.link = n5
n5.link = n6
n6.link = n7
n7.link = n8

list2 = n4

temp1=list1
temp2=list2

while temp2.link != None:
  while temp1.link != None:
    if(temp2.data<=temp1.data):
      print(temp2.data)
      temp2=temp2.link
    else:
      print(temp1.data)
      temp1=temp1.link

3
4
5
6
10

KeyboardInterrupt: ignored

# Stack

In [ ]:
from re import T
FULL=4
stack=["에스파","아이브","뉴진스","잇지"]
top=3

def isStackFull():
  global Full,stack,top
  if(top>=FULL-1):
    return True
  else:
    return False

def isStackEmpty():
  global Full,stack,top
  if(top<=-1):
    return True
  else:
    return False

def push(a):
  global Full,stack,top
  if(isStackFull()):
    print("Stack is full!")
    return
  top+=1
  stack[top]=a


def pop():
  global Full,stack,top
  if(isStackEmpty()):
    print("Stack is empty")
    return None
  a= stack[top]
  stack[top]=None
  top-=1
  return a

In [ ]:
FULL=int(input("size : "))
stack = [None for _ in range(FULL)]
top = -1

def check(e):
  for c in e:
    if c in '(':
      push(c)
    else:
      if c in ')':
        a= pop()
        if a == '(':
          continue
        else:
          return False
  if isStackEmpty():
    return True
  else:
    return False


e=input("수식 : ")
print(check(e))

size : 20
수식 : ((4+5)-6)/7(
False

In [ ]:
#괄호 파악
FULL=int(input("size : "))
stack = [None for _ in range(FULL)]
top = -1

def check(e):
  if '('||'{'||'['||'<' in e:








  for c in e:
    if c in '('||'{'||'['||'<':
      push(c)
    else:
      if c in ')'||'}'||']'||'>':
        a= pop()
        if a == '('||'{'||'['||'<':
          continue
        else:
          return False
  if isStackEmpty():
    return True
  else:
    return False

SyntaxError: ignored

In [ ]:

FULL=int(input("size : "))
stack = [None for _ in range(FULL)]
top = -1

def check(e):
  for c in e:
    if(top%2==0):
      for c in range(top+2/2):
        push(c)
        continue
    else:
      for c in range(top+1/2):
        push(c)
        continue
    if(stack[top]==pop()):
      continue
    else:
      return "no"
  if isStackEmpty():
    return "ok"
  else:
    return "no"


e=input("num : ")
print(check(e))

size : 20
num : 1321

TypeError: ignored

# Queue

In [ ]:
class Node:
  def __init__(self,data):
    self.data =data
    self.link =None

FULL = int(input("Queue size:"))
size = 0
front = None
rear = None

def isEmpty():
  global front
  return front == None

def isFull():
  global size,FULL
  return size>= FULL

def enqueue(data):
  global size,front, rear
  if isFull():
    print("Queue is full")
    return
  n = Node(data)
  size +=1
  if(rear ==None):
    front = rear = n
  else:
    rear.link = n
    rear = n

def dequeue():
  global size,front, rear
  if isEmpty():
    print("Queue is empty")
    return None
  size -=1
  n = front
  front = n.link
  return n.data

Queue size:4

In [ ]:
#stack , queue 연동
FULL=int(input("size : "))
stack = [None for _ in range(FULL)]
top = -1

class Node:
  def __init__(self,data):
    self.data =data
    self.link =None

FULL = int(input("Queue size:"))
size = 0
front = None
rear = None

def isStackFull():
  global Full,stack,top
  if(top>=FULL-1):
    return True
  else:
    return False

def isStackEmpty():
  global Full,stack,top
  if(top<=-1):
    return True
  else:
    return False

def push(a):
  global Full,stack,top
  if(isStackFull()):
    print("Stack is full!")
    return
  top+=1
  stack[top]=a


def pop():
  global Full,stack,top
  if(isStackEmpty()):
    print("Stack is empty")
    return None
  a= stack[top]
  stack[top]=None
  top-=1
  return a

def isEmpty():
  global front
  return front == None

def isFull():
  global size,FULL
  return size>= FULL

def enqueue(data):
  global size,front, rear
  if isFull():
    print("Queue is full")
    return
  n = Node(data)
  size +=1
  if(rear ==None):
    front = rear = n
  else:
    rear.link = n
    rear = n

def dequeue():
  global size,front, rear
  if isEmpty():
    print("Queue is empty")
    return None
  size -=1
  n = front
  front = n.link
  return n.data

def printqueue():
  global size, front, rear
  if isEmpty():
    print("Queue is empty")
    return
  current = front
  while current != None:
    print(current.data)
    current = current.link

enqueue('A')
enqueue('B')
enqueue('C')
enqueue('D')

push(dequeue())
push(dequeue())
push(dequeue())
push(dequeue())

enqueue(pop())
enqueue(pop())
enqueue(pop())
enqueue(pop())

print(dequeue())

size : 4
Queue size:4
Queue is empty
None

# Search

**Linear search** -> 전수 검사, 완벽하지만 시간이 오래걸림,O(n)

In [ ]:
a= [1,3,5,7,9]

def find(d):
  for i in range(0,len(a)):
    if a[i]==d:
      print("find")
      return
  print("not found")

find(int(input("찾는 값 : ")))

찾는 값 : 3
find

**Binary search**->정렬 되어있는 데이터 일때,배열의 중앙값을 조사하여 왼쪽 또는 오른쪽에 있는지를 알아내어 반만 조사,O(log n)

In [ ]:
a=[1,3,5,7,9,11,13,15,17,19]

def binSearch(d):
  start = 0
  end = len(a)-1

  while (start<=end):
    mid = (start+end)//2
    if a[mid]==d:
      print("find")
      return
    else:
      if a[mid]>d:
        end = mid -1
      else:
        start = mid+1
  print("not Found")

  binSearch(int(input("찾는 값: ")))

In [ ]:
#네이버 시험문제
def BSearch (arr[],target):
  low = 0
  high = len(arr)-1

  while (low<=high):
    mid = (low+high)/2

#++더 쓰기

**Index search**->색인순차탐색,인덱스테이블로 정렬되어있는 데이터를 인덱스로 근처까지 가서 전수검색(사전찾기)

In [ ]:
#안나옴

# 문제

In [ ]:
#임의의 서로 다른 10개의 자연수에 대해 다음 기능을 하는 프로그램
import random
data_list = random.sample(range(100),10)

print(data_list)

#짝수의 개수
def 짝수(arr):
  count=0
  for i in range(0,len(arr)-1):
    if (arr[i]%2==0):
      count+=1
  return count

#중복찾기
def find(arr,a):
  count=0
  index=[]
  for i in range(0,len(arr)-1):
    if(arr[i]==a):
      count+=10
      index.append(i)
  if(count==0):
    print("중복되지 않음")
  else:
    print(count)
    print("만큼 반복")
    print(index)
    print("에서 반복")

#최대-최소
def max_min(arr):
  max=0
  min=0
  for i in range(0,len(arr)-1):
    if (arr[i]>max):
      max = arr[i]
    if (arr[i]<min):
      min = arr[i]
  return max-min

[41, 24, 55, 25, 26, 69, 8, 63, 81, 34]

In [ ]:
v \\#단어를 입력받아모음이 연속 2개인 단어와 모음 이외의 알파벳이 연속 3개인 단어를 각각 찾아내서 그 갯수를 순서대로 출력
#단어의 입력은 10개 이하, 20자 이하의 알파벳 소문자 문자열
#공백으로 구분
#모음은(a,e,i,o,u)
#올바른 출력은 두개의 문장
vowel_word=0
consonant_word=0

a = input()
word=a.split()

for i in range(0,len(word)):
  vowel_count=0
  consonant_count=0
  for j in range(0,len(word[i])):
    if(word[i][j]=='a'or word[i][j]=='e'or word[i][j]=='i'or word[i][j]=='o'or word[i][j]=='u'):
      vowel_count+=1
      consonant_count=0
      if(vowel_count==2):
        vowel_word+=1
    else:
      consonant_count+=1
      vowel_count=0
      if(consonant_count==3):
        consonant_word+=1

print(vowel_word)
print(consonant_word)

toast standard bank display book
2
1

# sort

In [ ]:
def bubbleSort(a):
  n = len(a)
  swapped = False
  for i in range(n-1):
    for j in range(0,n-i-1):
      if a [j]>a[j+1]:
        swapped = True
        a[j],a[j+1]=a[j+1],a[j]
    if not swapped:
      return

def selectionSort(a):
  for i in range(len(a)):
    min_i = i

    for j in range(i+1,len(a)):
      if a[j]<a[min_i]:
        min_i = j
    (a[i],a[min_i])=(a[min_i],a[i])

def insertionSort(a):
  if(n:=len(a))<=1:
    return
  for i in range(1,n):
    k=a[i]
    j=i-1
    while j>=0 and k<a[j]:
      a[j+1]=a[j]
      j-=10
    a[j+1]=k

n = [6,4,2,1,22,9,17]
bubbleSort(n)
selectionSort(n)
insertionSort(n)
n

[1, 2, 4, 6, 9, 17, 22]

In [ ]:
#quick sort
def partition(a,low,high):
  pivot = a[high]
  i= low-1
  for j in range(low,high):
    if a[j]<= pivot:
      i+=1
      a[i],a[j]=a[j],a[i]
  a[i+1],a[high] = a[high],a[i+1]
  return i+1

def quickSort(array, low,high):
  if low<high:
    p=partition(array,low,high)
    quickSort(array,low,p-1)
    quickSort(array,p+1,high)

n=[6,4,2,1,22,9,17]
quickSort(n,0,len(n)-1)
n

[1, 2, 4, 6, 9, 17, 22]

17 53 71 62 **36** 46 41 23 12

17 23 71 62 36 46 41 53 12

17 23 12 62 36 46 41 53 71

17 23 12 **36** 62 46 41 53 71


**5** 3 8 9 1 7 0 2 6 4

5 3 1 9 8 7 0 2 6 4

5 3 1 0 8 7 9 2 6 4

5 3 1 0 2 7 9 8 6 4

5 3 1 0 2 4 9 8 6 7

3 1 0 2 4 **5** 9 8 6 7

시간복잡도
배열 링크드 리스트 장단점
스택 원리
큐 원리
서치

# tree

포화이진트리
완전이진트리
편향이진트리

이진 트리의 성질(시험에 나옴)

linked list tree

In [ ]:
class treeNode:
  def __init__(self,data):
    self.data =data
    self.left = None
    self.right = None

n1 = treeNode('A')
n2 = treeNode('B')
n3 = treeNode('C')
n4 = treeNode('D')
n5 = treeNode('E')
n6 = treeNode('F')
n7 = treeNode('G')
n8 = treeNode('H')
n9 = treeNode('I')
n10 = treeNode('J')

n1.left =n2
n1.right = n3
n2.left =n4
n2.right = n5
n3.right=n6
n4.left= n7
n5.left=n8
n5.right=n9
n6.left=n10


def inorder(n):
  if n==None:
    return
  inorder(n.left)
  print(n.data)
  inorder(n.right)

def postorder(n):
  if n ==None:
    postorder(n.left)
    postorder(n.right)
    print(n.data)

def preorder(n):
  if n==None:
    return
    print(n.data)
    preorder(n.left)
    preorder(n.right)

print(preorder(n1))

None

tree Traverse(트리 순회)

In [ ]:
def inorder(n):
  if n==None:
    return
  inorder(n.left)
  print(n.data)
  inorder(n.right)

def postorder(n):
  if n ==None:
    postorder(n.left)
    postorder(n.right)
    print(n.data)

def preorder(n):
  if n==None:
    return
    print(n.data)
    preorder(n.left)
    preorder(n.right)

# heap

보통 최대, 최소 값만을 구하고 싶을 때 사용

In [ ]:
from queue import PriorityQueue

Q= PriorityQueue()#최소값부터 출력

Q.put(10)
Q.put(1)
Q.put(5)
Q.put(3)
print(Q.get())
print(Q.get())
print(Q.get())
print(Q.get())

from queue import PriorityQueue

Q= PriorityQueue()
Q.put((10,'koh'))
Q.put((1,'keon'))
Q.put((5,'hyouk'))
print(Q.get()[1])
print(Q.get()[1])
print(Q.get()[1])

(1, -1)
(3, -3)
(5, -5)
(10, -10)
keon
hyouk
koh

In [ ]:
from queue import PriorityQueue

Q= PriorityQueue()#최대값부터출력

Q.put(10*-1)
Q.put(1*-1)
Q.put(5*-1)
Q.put(3*-1)
print(Q.get()*-1)
print(Q.get()*-1)
print(Q.get()*-1)
print(Q.get()*-1)

10
5
3
1

힙은 완전 이진트리로 구성
포화이진트리:꽉찬 트리
완전이진트리:포화이진트리에서 오른쪽 아래부터 지워나간 것

# graph

node가 edge(link)로 연결된 것

지도를 메트릭스,리스트,엣지리스트,링크드 리스트(방향성) 중 어느것으로 할 지

spanning tree : 사이클 하나 없이 모든 노드 연결
문제 : 미니멈 스태닝 트리 찾기
문제 : 최단경로 알고리즘 풀기

DFS:길찾기, 회로 사이클 탐색-전체적 구조 파악(스택활용)
BFS:배민 거리순서-목적지부터 차레대로 파악(큐 활용)

# hash

In [ ]:
import hashlib

msg=input("입력값:")
msg=hashlib.sha256()
print(msg.digest())
print(msg.digest_size)

입력값:4576
b"\xe3\xb0\xc4B\x98\xfc\x1c\x14\x9a\xfb\xf4\xc8\x99o\xb9$'\xaeA\xe4d\x9b\x93L\xa4\x95\x99\x1bxR\xb8U"
32